@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  display: flex;
  background-color: var(--wpe--main--background-color);
  position: relative;
  overflow: hidden;
}

.container-wrapper {
  margin: 0 auto;
}

.text {
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 1; // Pull text to the foreground to sit above <FeaturedImage />.
  text-align: left;

  @media (min-width: $breakpoint-small) {
    padding: 0;
  }
}

.title {
  font-size: 0.65rem;
  font-weight: 700;
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--black);
  padding: 0.75rem;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.875rem;
  }

  @media (min-width: $breakpoint-small) {
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25rem;
  }
}

.byline {
  font-weight: var(--wpe--font-weight--medium);
  font-size: 1.2rem;
}

.image {
  padding-top: 1rem;
  margin: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.description {
  padding: 1rem 4vw;
  color: var(--wpe--color--black);
  text-align: left;
  font-size: 0.9rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.3rem;
  }

  @media (min-width: $breakpoint-small) {
    margin: 0 auto;
    width: 50vw;
  }

  @media (min-width: $breakpoint-small) {
    padding: 1rem 2vw;
  }
}

.index-menu-wrapper {
  position: fixed;
  display: none;
  margin-top: 1rem;
  // transition: transform 0.4s ease-in-out;
  // transform: translateY(-150vh);
  background-color: var(--wpe--color--black);
  color: var(--wpe--color--white);
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 700;
  font-size: 0.65rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 0.875rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25rem;
  }

  &.show {
    display: block;
    position: absolute;
    z-index: 500;
    padding: 0;
    gap: 1rem;
    top: 2.5rem;
    // transition: top .4s ease-in-out;
    width: calc(-10vw + 100vw);
    height: calc(-8.3rem + 100vh);

    // @media ((min-width: $breakpoint-extra-small) and (max-width: $breakpoint-small)) {
    //   height: calc(-3.5rem + 100vh);
    // }

    @media (min-width: $breakpoint-small) {
      height: calc(-8.5rem + 100vh);
    }
  }
}

.index-menu-content {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: calc(-10vw + 100vw);
  height: calc(-8.3rem + 100vh);
  overflow-x: hidden;
  padding: 1rem 1rem 7rem;
  background-color: var(--wpe--color--black);
  color: var(--wpe--color--white);
  text-transform: uppercase;

  @media (min-width: $breakpoint-extra-small) {
    padding: 2rem;
  }

  @media (min-width: $breakpoint-small) {
    width: 50vw;
  }

  // Primary Menu {Destination Guides Menu}
  .first-wrapper,
  .second-wrapper {
    display: block;
    padding-bottom: 1rem;
    // border-bottom: 1px solid var(--wpe--color--white);

    // .primary-navigation {
    //   display: flex;
    //   flex-direction: column;

    ul li {
      flex: 1 1 40vw;

      @media (min-width: $breakpoint-extra-small) {
        flex: 1 1 35vw;
      }
    }
  }

  .second-wrapper {
    li {
      list-style-type: none;
    }

    .nav-link {
      margin-bottom: 1rem;

      .nav-post {
        padding-left: 1rem;
      }
    }
  }
}
