@import 'styles/breakpoints';

.component {
  margin-right: 0;
  margin-left: 0;
  width: 100vw;
  background-color: var(--wpe--color--deep--black);
  padding: 0 0 2rem;
  overflow: hidden;
  position: relative;
  top: 0;
  min-height: 100vh;

  img {
    object-fit: cover;
    object-position: center;
  }
}

.rca-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--color--jet--grey);
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 3.5rem;
    height: calc(-3.5rem + 100vh);
    transition: top 0.4s ease-in-out;

    @media (min-width: $breakpoint-small) {
      top: 4.5rem;
      left: 0;
      height: calc(-4.5rem + 100vh);
    }

    * {
      color: var(--wpe--color--white--smoke);
    }
  }
}
