@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);
  position: relative;
  overflow: hidden;
  margin: 0;
  aspect-ratio: 3 / 2;

  @media (min-width: $breakpoint-large) {
    width: 100vw;
    height: calc(-3.5rem + 100vh);
  }
}

.image-wrapper {
  display: flex;
  min-width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  row-gap: 0.5rem;

  figure {
    position: relative;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
