@import 'styles/breakpoints';

.component {
  max-width: 100vw;
  margin: 0 auto;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto 5rem;
    background-color: var(--wpe--main--background-color);
    max-width: 700px;
    padding: 1rem;
    position: relative;
  }

  .with-slider-wrapper {
    padding: 0;
  }

  .content-wrapper {
    display: block;
    padding: 1.125rem 0;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 1rem;
    }
  }

  .content-wrapper > em:first-child {
    padding: 0 1rem;
    font-weight: 400;
    letter-spacing: 1.15px;
    line-height: 1.6;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0;
    }
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import 'styles/blocks';

    * {
      max-width: 100%;
      padding: 0 1rem 1rem;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0 0 1.5rem;
      }
    }

    i,
    u,
    strong,
    b {
      padding: 0;
    }

    span {
      padding-left: 0;
    }

    span {
      padding-left: 0;
    }

    figure {
      min-width: 100%;
      padding: 0;

      // figcaption {
      //   display: none;
      // }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.15px;
    }

    p:has(img),
    p > em:first-of-type,
    img,
    a,
    em {
      padding: 0.5rem 0 0.5rem;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0.75rem 0 0.75rem;
      }
    }

    strong {
      padding: 0;
      font-weight: 700;
    }

    a {
      font-family: 'Chronicle Display A', 'Chronicle Display B';
      font-weight: 600;
      color: var(--wpe--link--color);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: none;
      }
    }

    li {
      font-size: 1.6rem;
    }

    img {
      display: block;
      height: auto;
      min-width: 100%;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      font-style: italic;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: 'â€';
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 2rem 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--border);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--border);
    }

    td {
      padding: 0.4em;
    }
  }
}
