@import 'styles/breakpoints';

.component {
  width: 100vw;
  margin: 0 auto;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint-small) {
    max-width: 700px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding: 1rem 1rem;

    @media (min-width: $breakpoint-small) {
      padding: 1rem 0;
    }
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import 'styles/blocks';

    * {
      max-width: 100%;
      padding: 0 0 0.5rem;

      @media (min-width: $breakpoint-small) {
        padding: 0 0 1rem;
      }
    }

    i,
    u,
    strong,
    b {
      padding: 0;
    }

    span {
      padding-left: 0;
    }

    figure {
      min-width: 100%;
      padding: 0;

      figcaption {
        display: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.15px;
    }

    p:has(img),
    img,
    a {
      padding: 0.5rem 0 0.5rem;

      @media (min-width: $breakpoint-small) {
        padding: 0.75rem 0 0.75rem;
      }
    }

    em {
      padding: 0;
    }

    p:empty {
      display: none;
    }

    strong {
      padding: 0;
      font-weight: 700;
    }

    a {
      font-family: 'Chronicle Display A', 'Chronicle Display B';
      font-weight: 600;
      color: var(--wpe--link--color);
      text-decoration: underline;
      white-space: break-spaces;
      word-break: break-word;
      word-wrap: break-word;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: none;
      }
    }

    li {
      font-size: 1.6rem;
    }

    ul > li {
      padding: 0;
    }

    img {
      display: inline-flex;
      height: auto;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      font-style: italic;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: 'â€';
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 2rem 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--slate);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--slate);
    }

    td {
      padding: 1.25rem 0;

      @media (min-width: $breakpoint-small) {
        padding: 1rem 0;
      }
    }
  }
}
