@import 'styles/breakpoints';

.component {
  color: var(--wpe--header--color);
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0.5rem;
  position: relative;
  z-index: 49;

  &.show {
    height: 100%;

    @media (min-width: $breakpoint-extra-small) {
      min-height: 3.875rem;
    }
  }
}

.home-container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 49;
  content-visibility: hidden;

  .home-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .home-navbar-wrapper {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 0 auto;
      padding: 0;

      @media (min-width: $breakpoint-extra-small) {
        display: flex;
        width: 90vw;
      }
    }
  }
}

.homeSticky {
  padding: 0;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 0.5rem;
    content-visibility: visible;
  }
}

.sticky,
.homeSticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(6.5rem);
  // transition: transform 0.5s ease-in-out;

  @media (min-width: $breakpoint-extra-small) {
    top: 0;
    transform: translateY(8.125rem);
    max-height: 4rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--wpe--main--background-color);
}
