@font-face {
  font-family: 'ChunkFive-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/ChunkFive-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DreamOrphans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/dream-orphans.woff') format('woff');
}

@font-face {
  font-family: 'DreamOrphans-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/dream-orphans-it.woff') format('woff');
}

@font-face {
  font-family: 'DreamOrphans-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/dream-orphans-bd.woff') format('woff');
}

@font-face {
  font-family: 'DreamOrphans-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/dream-orphans-bd-it.woff') format('woff');
}

@font-face {
  font-family: 'Unit Slab Pro Black';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Black.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-BlackIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Bold.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-BoldIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Ita.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Light.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-LightIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Medi.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-MediIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Thin.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-ThinIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Ultra';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Ultra.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-UltraIta.ttf');
}

@font-face {
  font-family: 'Unit Slab Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro.ttf');
}
