@import 'styles/breakpoints';

.component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  position: relative;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    max-width: calc(1400px + 2rem);
  }

  .post-wrapper,
  .advertorial-wrapper {
    width: 100vw;
    max-width: 700px;

    @media (min-width: $breakpoint-small) {
      width: calc(50vw - 1rem);
    }
  }

  .banner-ad-wrapper {
    width: 100vw;
  }
}
