@import 'styles/breakpoints';

.component {
  width: 100vw;
  margin: 0 auto 2rem;
  line-height: 1.2;
  padding: 0;
  position: relative;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto 5rem;
    background-color: var(--wpe--color--black);
    max-width: 700px;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1rem;

    @media (min-width: $breakpoint-small) {
      padding: 0;
    }

    * {
      font-family: 'Ringside Regular A', 'Ringside Regular B';
      font-weight: 400;
      text-align: left;
    }
  }

  .full-wrapper {
    padding: 3rem 0;
  }
}
