#mc_embed_signup * {
  color: #000000;
}

#mc_embed_signup h2 {
  font-family: 'Unit Slab Pro Black';
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #000000;
}

#mc_embed_signup input::placeholder,
#mc_embed_signup select::placeholder {
  color: #929292;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem 0;
}

.mc-field-group-two-column,
.mc-field-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 0.5rem;
  align-items: center;
}

.mc-field-group {
  display: flex;
  flex-direction: column;
}

.divider {
  padding-top: 0.5rem;
}

.border-divider {
  border-bottom: 1px solid #929292;
  padding-top: 0.5rem;
}

.input-group ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.input-group > ul > * {
  flex: 0 0 auto;
  width: 6rem;
  font-size: 0.6rem;
}

.input-group > ul > li:nth-child(3) {
  width: 8rem;
}

.mc-field-name {
  width: 50%;
}

.mc-field-email {
  width: 85%;
}

.asterisk {
  color: #f94700 !important;
}

.input-group > ul > li input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.container-check {
  position: relative;
}
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  width: 9rem;
  height: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  display: block;
  top: 0px;
  left: 0;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.2s;
  border-radius: 1rem;
  border: 1px solid #000000;
}

/* Checkbox Button */
.checkbox-button:checked + label::after {
  background-color: #000000;
}

.checkbox-button + label::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  display: block;
  top: 0px;
  left: 0;
  cursor: pointer;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 1rem;
  border: 1px solid #000000;
}

.text-form,
.select-form {
  font-size: 0.7rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-right: none;
  border-radius: 0.3rem 0 0 0.3rem;
}

.text-form {
  padding-left: 0.8rem;
}

.submit-button {
  background-color: #000000;
  color: #ffffff !important;
  font-size: 0.7rem;
  padding: 0.5rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-left: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  #mc_embed_signup h2 {
    font-size: 1.8rem;
  }

  .content-wrapper {
    padding: 1rem 1rem 0;
  }

  .mc-field-group-two-column,
  .mc-field-wrapper {
    padding-bottom: 1rem;
    width: 80%;
  }

  /* .input-group ul {
    justify-content: space-between;
  } */

  .input-group > ul > * {
    font-size: 0.9rem;
  }

  .input-group > ul > li:last-child {
    width: 12rem;
  }

  input[type='checkbox'] + label {
    width: 12rem;
  }

  .text-form,
  .select-form {
    font-size: 1rem;
  }

  .submit-button {
    font-size: 1rem;
  }
}
