@import 'styles/breakpoints';

.component {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--black);
  position: fixed;
  width: 100%;
  z-index: 50;
}

.sticky {
  background-color: var(--wpe--color--black);
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(60px);
  // transition: transform 0.3s ease-in-out;
}

.default {
  color: var(--wpe--header--color);
  background-color: var(--wpe--main--background-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  height: 3.5rem;
  // background-color: var(--wpe--main--background-color);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0.5rem 0;
    height: 4.5rem;
  }
}

.brand {
  margin-left: 1rem;
  width: 10rem;
  height: 3.5rem;
  position: relative;

  @media (min-width: $breakpoint-extra-small) {
    width: 14rem;
    margin-left: 2rem;
  }

  img {
    height: 1.3rem;
    object-fit: contain;

    @media (min-width: $breakpoint-extra-small) {
      height: 1.6rem;
    }

    @media (min-width: $breakpoint-medium) {
      height: 1.8rem;
    }
  }
}

.title {
  text-decoration: none;
}

.menu-button {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 2rem;
  }

  button svg {
    height: 2.5rem;
  }
}

.menu-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 1.875rem;
  line-height: 2.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 0.5rem;

  @media (min-width: $breakpoint-extra-small) {
    width: 1.6rem;
  }

  @media (min-width: $breakpoint-medium) {
    width: 1.8rem;
  }
}

.close-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 1.875rem;
  line-height: 2.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 1.3rem;

  @media (min-width: $breakpoint-extra-small) {
    width: 1.6rem;
    height: 3.5rem;
  }

  @media (min-width: $breakpoint-medium) {
    width: 1.8rem;
  }
}

.close-button {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 2rem;
  }

  button svg {
    height: 3.5rem;
  }
}

// Search Bar
.search-bar-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 1rem 0.75rem;

  * {
    text-transform: none;
  }

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 0.75rem;
    max-width: 700px;
    margin: 0 auto;
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;

    button {
      display: block;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: var(--wpe--color--black);

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .search-result-wrapper {
    position: absolute;
    display: grid;
    background-color: var(--wpe--main--background-color);
    top: 6.5rem;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    justify-content: center;

    @media (min-width: $breakpoint-extra-small) {
      top: 8.125rem;
      padding: 0;
      max-width: 700px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .alert-error {
      color: var(--wpe--color--red);
      text-align: center;
    }
  }
}

.stickySearch {
  display: flex;
  background-color: var(--wpe--main--background-color);
}

.full-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 51;
  top: -150vh;
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 2.5rem;
    transition: top 0.4s ease-in-out;

    @media ((min-width: $breakpoint-extra-small) and (max-width: $breakpoint-small)) {
      top: 3.5rem;
      height: calc(-3.5rem + 100vh);
    }

    @media (min-width: $breakpoint-small) {
      top: 4.5rem;
      height: calc(-4.5rem + 100vh);
    }
  }
}
